@font-face {
  font-family: "Nimbus Sans Novus T";
  src: url("fonts/nimbus-sans-novus-t.woff2") format("woff2"),
    url("fonts/nimbus-sans-novus-t.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
  color: rgb(41, 40, 40);
}


header { 
  height: auto;
  text-align: center;
  position: relative;
}

h2
{
  font-size: 35px;
  font-weight: bolder;
  font-family: 'Lobster';
  text-align: center;
  color: white;
  position: absolute;
  margin-left: 40%;
  margin-top: -19%;
  background-color: transparent;
}

 header p
{
  margin-top: -15%;
  position: absolute;
  margin-left: 40%;
  background-color: transparent;
} 

header p span
{
  background-color: transparent;
  color: aliceblue;
  font-weight: lighter;
}

ul {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  align-items: center;
  margin-left: 900px;
  position: absolute;
  z-index: 2;
  background-color: transparent;
}

 ul li {
  text-decoration: none;
  list-style: none;
  font-size: smaller;
  background-color: transparent;
}

.main_img {
 
  width: 70%;
  height: auto;
  /* position: absolute; */
  margin: 0 auto;
  z-index: 1;
  display: inline-block;
}

main {
  margin-top: 20px;
}

/* second part */

.VISION h3 {
  text-align: center;
}

.VISION {
  width: 55%;
  box-sizing: border-box;
  margin: auto;
}

.vision_japanese {
  margin-top: 20px;
  font-size: smaller;
}

.MESSAGE {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: rgb(223, 223, 223);
 
}

.MESSAGE_TEXT {
  margin-top: 20%;
  display: flex;
  flex-direction: column;
  background-color: transparent;
  margin-left: 5px;
  margin-right: 5px;
}

.MESSAGE_TEXT h3 {
  text-align: center;
  background-color: transparent;
}

.MESSAGE_PIC img {
  width: 100%;
  height: 81%;
}

.message_japanese {
  background-color: transparent;
  margin-top: 20px;
  font-size: smaller;
}

.trans {
  background-color: transparent;
}

.MESSAGE1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 0px;
  background-color: rgb(223, 223, 223);

}

.MESSAGE_TEXT1 {
  margin-top: 20%;
  display: flex;
  flex-direction: column;
  background-color: transparent;
  margin-left: 5px;
  margin-right: 5px;
 
}

.MESSAGE_TEXT1 h3 {
  text-align: center;
  background-color: transparent;
}


.many
{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  box-sizing: border-box;
  width: 65%;
  margin: 40px auto;
  height: auto;

  /* background-color:black; */
 
}

.ser p
{
  margin-top: 15px;
  font-size: x-small;
  width: 250px;
  text-align: center;
}

.mes p
{
  margin-top: 15px;
  font-size: x-small;
  width: 250px;
  text-align: center;
}

.stor p
{
  margin-top: 15px;
  font-size: x-small;
  width: 250px;
  text-align: center;
}

.ser img
{
  display: block;
  margin: 10px auto;
  height: 200px;
  width: 200px;
}

.mes img
{
  display: block;
  margin: 10px auto;
  height: 200px;
  width: 200px;
}

.stor img
{
  /* text-align: center; */
  display: block;
  margin: 10px auto;
  height: 200px;
  width: 200px;
}

.ser , .mes , .stor h3
{
  text-align: center;
}

.last
{
  position: relative;
}

.pretty img
{
  width: 100%;
  height: auto;
  object-fit: cover;
  z-index: 1;
}

/* second last */
.container
{
  position: absolute;
  width: 60%;
  margin: -25% 20%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 15px;
  text-align: center;
  z-index: 2;
  background-color: transparent;
}

.story1,.story1 h3, .story1 p, .story1 span
{
  background-color: transparent;
  color: aliceblue;

}


.sucess,.sucess h3, .sucess p, .sucess span
{
  background-color: transparent;
  color: aliceblue;

}


.sucess p
{
  margin-top: 10px;
  font-size: small;
}

.story1 p
{
  margin-top: 10px;
  font-size: small;
}

/* last portion */

.last1
{
  width: 60%;
  margin: 40px auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}


.company
{
  font-size: smaller;

}
.ifra iframe
{
  width: 100%;
  height: 100%;
}




footer 
{
   height: 50px;
   text-align: center;
   font-size: xx-small;
}

footer p{
  margin-top: 75px;
}

footer a{
  color: blue;
}






 
